{$CADDY_DOMAIN} {
  reverse_proxy http://hotcrp:80
  #tls /opt/certs/fullchain.pem /opt/certs/privkey.pem
  #tls youremail@example.localdomain {
  #  ca https://acme-v02.api.example.org/directory
  #}
}

